name: Automerge
on:
  workflow_dispatch:
    inputs:
      pr_url:
        description: 'PR URL to merge'
        required: true
jobs:
  automerge:
    runs-on: ubuntu-latest
    steps:
      - name: Merge PR
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh pr merge ${{ github.event.inputs.pr_url }} --merge --admin

